
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for UserNews</h1>

<f:flashMessages renderMode="div" />

<table  class="tx_usermynews" >
	<tr>
		<th><f:translate key="tx_usermynews_domain_model_usernews.title" /></th>
		<th><f:translate key="tx_usermynews_domain_model_usernews.image" /></th>
		<th><f:translate key="tx_usermynews_domain_model_usernews.date" /></th>
		<th><f:translate key="tx_usermynews_domain_model_usernews.detail" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{userNewss}" as="userNews">
		<tr>
			<td><f:link.action action="show" arguments="{userNews : userNews}"> {userNews.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{userNews : userNews}"> {userNews.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{userNews : userNews}"> {userNews.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{userNews : userNews}"> {userNews.detail}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{userNews : userNews}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{userNews : userNews}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New UserNews</f:link.action>
</f:section>