
<table class="tx-usermynews" >
	<tr>
		<td>
			<f:translate key="tx_usermynews_domain_model_usernews.title" />
		</td>
		<td>
		{userNews.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usermynews_domain_model_usernews.image" />
		</td>
		<td>
				<f:image src="{userNews.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usermynews_domain_model_usernews.date" />
		</td>
		<td>
		{userNews.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_usermynews_domain_model_usernews.detail" />
		</td>
		<td>
		{userNews.detail}
		</td>
	</tr>
</table>